// stylelint-disable font-family-name-quotes, declaration-no-important
:root {
  // Edited variables
  --color-white: #fff;
  --color-black: #000;
  --color-light-gray: #e0e0e0;
  --color-dark-gray: #494949;
  --width-body: 900px;
  --item-title-link-line-height: 1.23;
  --entry-content-line-height: 1.5;
  --item-title-link-font-size: 24px;
  --font-size-smaller: 16px;
  --font-size-meta: var(--font-size-smaller);
  --font-size-larger: 18px;
  --font-size-body: 18px;
  --item-meta-color: rgb(2, 58, 136);
  --item-meta-li-color-hover: var(--color-black);
  --entry-date-color: #fff;
  --input-placeholder-color: var(--color-dark-gray);
  --entry-header-border-color: transparent;
  --pagination-border-color: transparent;

  // Miniflux variables
  --font-family: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --body-color: #101010;
  --body-background: var(--color-white);
  --hr-border-color: #aaaaaa;
  --title-color: var(--color-black);
  --link-color: var(--color-black);
  --link-focus-color: #222222;
  --link-hover-color: #222222;
  --header-list-border-color: #cccccc;
  --header-link-color: #222222;
  --header-link-focus-color: rgba(82, 168, 236, .85);
  --header-link-hover-color: rgba(82, 168, 236, .85);
  --header-active-link-color: #646b6b;
  --page-header-title-color: var(--color-black);
  --page-header-title-border-color: #cccccc;
  --logo-color: #444444;
  --logo-hover-color-span: #444444;
  --table-border-color: #aaaaaa;
  --table-th-background: #cccccc;
  --table-th-color: var(--color-black);
  --table-tr-hover-background-color: #cccccc;
  --table-tr-hover-color: var(--color-black);
  --button-primary-border-color: transparent;
  --button-primary-background: var(--color-light-gray);
  --button-primary-color: var(--color-black);
  --button-primary-focus-border-color: #777777;
  --button-primary-focus-background: #aaaaaa;
  --input-border: 0;
  --input-background: var(--color-light-gray);
  --input-color: var(--color-black);
  --input-focus-color: var(--color-black);
  --input-focus-border-color: rgba(82, 168, 236, .8);
  --input-focus-box-shadow: 0;
  --alert-color: #101010;
  --alert-background-color: transparent;
  --alert-border-color: transparent;
  --alert-success-color: #8bc34a;
  --alert-success-background-color: transparent;
  --alert-success-border-color: transparent;
  --alert-error-color: #101010;
  --alert-error-background-color: #cccccc;
  --alert-error-border-color: #777777;
  --alert-info-color: #101010;
  --alert-info-background-color: transparent;
  --alert-info-border-color: transparent;
  --panel-background: #cccccc;
  --panel-border-color: #aaaaaa;
  --panel-color: #646464;
  --modal-background: #cccccc;
  --modal-color: #101010;
  --modal-box-shadow: 0 0 10px rgba(82, 168, 236, .6);
  --pagination-link-color: var(--color-black);
  --category-color: #101010;
  --category-background-color: var(--color-light-gray);
  --category-border-color: #777777;
  --category-link-color: #666666;
  --category-link-hover-color: var(--color-black);
  --item-border-color: transparent;
  --item-padding: 10px;
  --item-title-link-font-weight: 700;
  --item-status-read-title-link-color: #555555;
  --item-status-read-title-focus-color: rgba(82, 168, 236, .6);
  --item-meta-focus-color: var(--color-black);
  --item-meta-li-color: #777777;
  --current-item-border-width: 2px;
  --current-item-border-color: transparent;
  --current-item-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
  --entry-header-title-link-color: var(--color-black);
  --entry-content-color: var(--color-black);
  --entry-content-code-color: var(--color-black);
  --entry-content-code-background: var(--color-white);
  --entry-content-code-border-color: transparent;
  --entry-content-quote-color: #888888;
  --entry-content-abbr-border-color: #888888;
  --entry-enclosure-border-color: #cccccc;
  --parsing-error-color: #111111;
  --feed-parsing-error-background-color: transparent;
  --keyboard-shortcuts-li-color: #646464;
  --counter-color: #444444;

  @media (max-width: 600px) {
    --item-title-link-font-size: 24px;
  }

  @media (max-width: 600px) {
    --item-padding: 15px;
  }
}

// Logo
.logo {
  color: var(--logo-color);
  font-family: serif;
  font-weight: 900;
  margin-left: 0;
  margin-top: 3px;
  position: relative;

  a,
  a span {
    color: var(--logo-color);
    font-family: serif;
    font-weight: 900;
    letter-spacing: 0;
    transition: opacity .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:hover span,
  a:focus,
  a:focus span {
    color: var(--logo-color);
    opacity: .7;
  }

  @media (max-width: 600px) {
    margin-bottom: 40px;
  }
}

// Body
body {
  font-size: var(--font-size-body);
  // Readability options
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // Container width
  max-width: var(--width-body);
  text-rendering: geometricPrecision;
}

body main,
body .header {
  padding-bottom: var(--item-padding);
  padding-left: var(--item-padding);
  padding-right: var(--item-padding);
  padding-top: var(--item-padding);
}

.header ul,
.header li {
  list-style: none;
}

// Alerts
.flash-message,
.alert-success {
  padding-left: 5px;
  padding-right: 5px;
}

// Listing header
.page-header {
  > h1 {
    padding-bottom: 10px;
  }

  // "No unread articles
  + p.alert,
  + p.alert.alert-info {
    background-image: url('https://www.rollemaa.fi/done.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 400px auto;
    border-radius: 4px;
    height: 400px;
    overflow: auto;
    text-align: center;

    @media (max-width: 600px) {
      background-size: 230px auto;
      height: 250px;
    }
  }

  > ul {
    list-style: none;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;

    a {
      font-size: var(--font-size-larger);
      opacity: .7;
      text-decoration: none;
      transition: opacity .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
    }

    a:hover,
    a:focus {
      opacity: 1;
    }
  }
}

// Listing
.items {
  overflow: visible;
}

body .item {
  display: grid;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
}

// Hide favicons
.item-title img {
  filter: grayscale(50%);
  width: auto;
  height: var(--font-size-larger);
}

// Item titles
.item-title {
  display: block;
  font-size: var(--item-title-link-font-size);
  line-height: var(--item-title-link-line-height);
}

// Category
.category {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  clear: left;
  display: inline-block;
  float: left;
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  white-space: normal;

  a {
    border: 1px solid transparent;
    border-radius: 2em;
    color: var(--category-color);
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 7px;
    background-color: var(--category-background-color);

    // Colored categories
    /* stylelint-disable sh-waqar/declaration-use-variable */
    // &[href="/category/1/entries"] {
    //   background-color: #2e363e;
    //   border-color: #5b6876;
    //   color: #bbd5eb;
    // }

    // &[href="/category/2/entries"] {
    //   background-color: #0d2816;
    //   border-color: #125c1a;
    //   color: #1fd622;
    // }

    // &[href="/category/3/entries"] {
    //   background-color: #2e1528;
    //   border-color: #673d56;
    //   color: #e697bf;
    // }

    // &[href="/category/4/entries"] {
    //   background-color: #1e2933;
    //   border-color: #3f5772;
    //   color: #80b5ea;
    // }

    // &[href="/category/5/entries"] {
    //   background-color: #252c1d;
    //   border-color: #56723f;
    //   color: #b0ea80;
    // }

    // &[href="/category/6/entries"] {
    //   background-color: #25181c;
    //   border-color: #723f53;
    //   color: #ea80a3;
    // }

    // &[href="/category/7/entries"] {
    //   background-color: #28280d;
    //   border-color: #5c5512;
    //   color: #cad61f;
    // }

    // &[href="/category/8/entries"] {
    //   background-color: #100d28;
    //   border-color: #292a81;
    //   color: #5654e0;
    // }

    // &[href="/category/9/entries"] {
    //   background-color: #0d2328;
    //   border-color: #296c81;
    //   color: #54d4e0;
    // }

    // &[href="/category/10/entries"] {
    //   background-color: #20280d;
    //   border-color: #628129;
    //   color: #b6e054;
    // }
  }
}

// Meta data
.item-meta {
  li,
  a {
    color: var(--item-meta-li-color);
  }

  a {
    transition: color .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:focus {
    color: var(--item-meta-li-color-hover);
  }

  .item-meta-info {
    margin-top: 5px;
  }

  .item-meta-icons {
    clear: both;
    float: left;
    opacity: .7;
    transition: opacity .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

// Single article
.entry {
  padding: 0;
}

.entry-content {
  line-height: var(--entry-content-line-height);
}

body .entry-header h1 {
  margin: 80px 0 20px;
}

.entry-header {
  margin-bottom: 40px;
  margin-top: 60px;
  position: relative;

  .entry-date {
    font-size: 16px;
    font-style: normal;
    margin-bottom: -30px;
    margin-top: 0;
    opacity: .4;
    text-align: right;
  }

  .entry-meta {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    * {
      font-size: var(--font-size-meta);
    }

    .category {
      float: none;
      margin-bottom: 20px;
      margin-top: 0;
      order: 1;
      width: 100%;

      a {
        font-weight: 500;
        line-height: 18px;
        padding: 4px 12px;
      }
    }

    .entry-website {
      filter: grayscale(100%);
      order: 2;
      position: absolute;
      right: 0;
    }

    .entry-author {
      margin-left: 0;
      margin-top: 25px;
      order: 3;
      position: absolute;
      right: 0;
    }

    .entry-author > em {
      overflow: hidden;
      max-width: 15em;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline flow-root list-item;
    }
  }
}

// Mobile fixes
.entry-header,
body .entry-header h1 {
  @media (max-width: 600px) {
    margin-top: 0;
  }
}

// Article heading hover
.entry header h1 a:hover,
.entry header h1 a:focus {
  color: var(--color-black);
}

.entry-website,
.entry-author,
.entry-date {
  color: var(--item-meta-color);
  opacity: .8;

  a {
    color: var(--item-meta-color);
    opacity: 1;
  }
}

.item-meta .icon,
.entry-actions .icon {
  margin-right: 5px;
}

// Focus color
a:focus {
  outline: max(.1em, .1em) dashed currentColor;
  outline-offset: .35em;
}

// Make focus a little more engaging
// @source https://twitter.com/argyleink/status/1387072095159406596
// @link https://codepen.io/argyleink/pen/JjEzeLp
@media (prefers-reduced-motion: no-preference) {
  .item.current-item,
  .item,
  :focus,
  *:focus,
  [data-whatinput="keyboard"] :focus,
  [data-whatinput="keyboard"] a:focus {
    outline-offset: 5px;
    transition: outline-offset .25s ease;
  }
}

// Pagination
.pagination-top {
  display: none;
}

.pagination {
  padding: var(--item-padding);
}

body .pagination-bottom {
  margin-bottom: 60px;

  a {
    font-size: var(--font-size-smaller);
    text-decoration: none;
  }
}

// Footer
.page-footer {
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 0;
  padding-right: 0;

  a {
    font-size: var(--font-size-larger);
    opacity: .5;
    text-decoration: none;
    transition: opacity .5s cubic-bezier(.19, 1, .22, 1), background-color .2s cubic-bezier(.19, 1, .22, 1);
  }

  a:hover,
  a:focus {
    opacity: 1;
  }
}

// Lists
.page-header li,
.page-footer li {
  list-style: none;
}

body .page-header ul,
body .page-footer ul {
  margin-left: 0;
}

// Code in blog posts
.entry-content pre,
.entry-content code {
  border-radius: 6px;
}

.entry-content pre code {
  font-size: var(--font-size-smaller);
}

.entry-content pre {
  line-height: 1.33;
  padding: 15px;
}

.feed-entries-counter {
  font-size: var(--font-size-smaller);
  margin-left: 5px;
  opacity: .5;
  position: relative;
  top: 12px;
}

// Forms
input[type="search"],
input[type="url"],
input[type="password"],
input[type="text"],
input[type="number"],
select,
textarea {
  background-color: var(--input-background);
  border: 0;
  border-radius: 0;
  color: var(--input-color);
  padding: 10px;
}

::placeholder {
  color: var(--input-placeholder-color);
}

.button-primary {
  border: 0;
  border-radius: 0;
  padding: 10px 20px;
}

article.feed-parsing-error {
  border-color: transparent;
}

.parsing-error {
  margin-top: 10px;
}

// Current item
.item.current-item {
  border: 1px dotted var(--item-border-color);
  box-shadow: none;
  display: grid;
  margin-bottom: 20px;
  margin-top: 30px;
  outline: max(.2em, .2em) dashed #3df57f;
  outline-offset: 20px;
  overflow: visible;
  padding-bottom: var(--item-padding);
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--item-padding);

  // stylelint-disable-next-line
  *:focus {
    outline: none;
  }
}

// Align header links
.header a {
  align-items: center;
  display: inline-flex;
  gap: .2rem;
}

.header .logo a {
  display: inline-block;
}

// More visible error counter
.unread-counter-wrapper,
.error-feeds-counter-wrapper {
  visibility: hidden;
}

.unread-counter,
.error-feeds-counter {
  visibility: visible;
}

.header a .unread-counter,
.header a .error-feeds-counter {
  align-items: center;
  border-radius: 50%;
  color: var(--color-black) !important;
  display: inline-flex;
  font-size: 11px;
  font-weight: 700;
  height: 22px;
  justify-content: center;
  line-height: 1.5;
  width: 22px;
}

.header a .error-feeds-counter {
  background-color: var(--alert-error-background-color);
}

.header a .unread-counter {
  background-color: var(--alert-success-color);
}

// No table border
table, th, td {
  border: unset;
  border-collapse: collapse;
}
